#video1-1 SMALL {
  text-align: center;
  font-size: 22px;
  color: #28324e;
}
#video1-2 SMALL {
  text-align: center;
  font-size: 22px;
  color: #ffffff;
}
#video1-3 SMALL {
  text-align: center;
  font-size: 22px;
  color: #28324e;
}
#video1-4 SMALL {
  text-align: center;
  font-size: 22px;
  color: #ffffff;
}
#video1-5 SMALL {
  text-align: center;
  font-size: 22px;
  color: #28324e;
}
#video1-6 SMALL {
  text-align: center;
  font-size: 22px;
  color: #ffffff;
}
#form1-8 .mbr-header__text {
  text-align: center;
}
#footer1-11 P {
  text-align: center;
  color: #ffffff;
}
#slider-20 H1 {
  font-size: 36px;
  color: #000000;
}
#msg-box1-17 h2 {
  color: #fff;
}
#msg-box1-17 p {
  color: #fff;
}
#msg-box1-18 h2 {
  color: #fff;
}
#msg-box1-18 p {
  color: #fff;
}
#msg-box1-18 H2 {
  color: #000000;
}
#msg-box1-18 P {
  color: #000000;
}
#msg-box1-19 h2 {
  color: #fff;
}
#msg-box1-19 p {
  color: #fff;
}
#ext_menu-21 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#ext_menu-21 .mbr-navbar__section {
  background: #2969b0;
}
